{{ define "page-header" }}
<h1>#{{ .Page.Title }}</h1>
{{ .Content }}
<div class="header-spacer"></div>
{{ end }}


{{ define "main" }}
<div class="page-list">
	<ul class="icon-as-bullet">
		{{ range .Pages }}
		<li class="icon-as-bullet">
			<a href="{{.Permalink}}">
				<img class="file-icon" src="/image/icon/file/{{ .Type }}.svg" onerror="this.src='/image/icon/file/page.svg'"/>
				{{.LinkTitle}}
			</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}


{{ define "sidebar" }}
{{ partial "tags/global/block.html" . }}
{{ end }}
