{{ define "main" }}

<div id="page-header">
	<h1>{{ .Page.Title }}</h1>
	<br>
	{{ .Content }}
</div>

<main>
	<div class="posts-list">
	{{ range sort .Data.Pages "Date" "desc" }}

		{{ if not .Params.private }}
			<div class="post">
				<div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
				<h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
				{{ .Summary }}
			</div>
		{{ end }}

	{{ end }}
	</div>
</main>

{{ end }}


{{ define "sidebar" }}
{{ partial "type-tags.html" . }}
{{ end }}
