<div class="contact-info">
    <h2>contact info</h2>

    <p><a href="{{ "pgp" | absURL }}">
        <img class=icon src="/image/icon/key.svg">PGP
    </a></p>
    <p><a href="mailto:l0xy@pm.me">
        <img class=icon src="/image/icon/email.svg">l0xy@pm.me
    </a></p>
    <p><a href="https://www.github.com/l0xy">
        <img class=icon src="/image/icon/logo/github.svg">github.com/l0xy
    </a></p>
    
    <p><a href="https://www.twitter.com/l0xy__">
    <img class=icon src="/image/icon/logo/twitter.svg">twitter.com/l0xy__
    </a></p>
</div>
