<p><a href="https://www.github.com/l0xy">
    <img class=icon src="/images/email.svg">l0xy@pm.me
</a></p>
<p><a href="https://www.github.com/l0xy">
    <img class=icon src="/images/github.svg">github.com/l0xy
</a></p>

<p><a href="https://www.twitter.com/l0xy__">
<img class=icon src="/images/twitter.svg">twitter.com/l0xy__
</a></p>

<p><a href="https://www.hub.docker.com/l0xy">
<img class=icon src="/images/docker.svg">l0xy__
</a></p>

<p><a href="https://www.cloud.vagrant.com/l0xy">
<img class=icon src="/images/vagrant.svg">l0xy__
</a></p>

<p><a href="https://www.galaxy.ansible.com/l0xy">
<img class=icon src="/images/ansible.svg">l0xy__
</a></p>
