{{- $numberOfTagsLimit := $.Site.Params.numberOfTagsShown }} <!-- See config -->
{{ range $key, $value := .Site.Taxonomies }}
<div>
  <nav class="tags_nav">
    {{- $onPageTags := $.Page.Params.tags }}
    {{- $slicedTags := ($value.ByCount | first $numberOfTagsLimit) }}
    {{- range $slicedTags }}
    <a href='{{ absURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="tag-name">
      #{{ lower .Name }}
      <span class='tag-tally'>({{ .Count }})</span>
      <br>
    </a>
    {{ end }}
  </nav>
</div>
{{ end }}
