{{ define "page-header" }}
<h1>{{ .Title | lower }}</h1>
<div class="header-spacer"></div>
{{ end }}


{{ define "main" }}
<h2>recently updated</h2>
<div class="posts-list">
{{ range first 5 (sort .Data.Pages "PublishDate" "desc") }}
    {{ if not .Params.private }}
		<div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
		<div class="post-spacer"></div>
		<div class="posts-info">
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ .Summary }}
        </div>
    {{ end }}
{{ end }}
</div>

<h2>all pages</h2>
	<ul class="icon-as-bullet">
		{{ range $.Site.RegularPages.ByDate }}
		
		<li class="icon-as-bullet">
			<a href="{{.Permalink}}">
				<img class="file-icon" src="/image/icon/file/{{ .Type }}.svg" onerror="this.src='/image/icon/file/page.svg'"/>
				{{.LinkTitle}}
			</a>
		</li>
		{{ end }}
	</ul>
{{ end }}


{{ define "sidebar" }}
{{ partial "tags/global/block.html" . }}
{{ end }}

